<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>MB Agility 星智選 | 首頁</title>
<meta name="description" content="為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品 —「Agility星智選」專案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是“先摘星，後智選”：在合約期限內，輕鬆支付月付款，即可晉級擁有賓士。合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。" />
<meta name="keywords" content="試算, 賓士購車方案, 賓士購車優惠, 購車優惠, 購車方案, 低頭款, 換購新車, 保留愛車, 歸還原車, 了解Agility, 什麼事agility, agility, mb-agility, 賓士Agility, 星智選, 賓士資融, 台灣賓士" />
<link rel="canonical" href="http://www.mb-agility.com/mb/" />

<meta name="og:title" content="MB Agility 星智選 | 首頁">
<meta name="og:description" content="為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品 —「Agility星智選」專案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是“先摘星，後智選”：在合約期限內，輕鬆支付月付款，即可晉級擁有賓士。合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。">
<meta property="og:url" content="http://www.mb-agility.com/mb/">
<meta name="og:image" content="http://www.mb-agility.com/mb/../../share-image.jpg">
<!-- @@close -->

<!-- @@block  =  head-js -->
<script type="text/javascript" src="js/pingin/greensock/TweenMax.min.js"></script>
<script type="text/javascript" src="js/pingin/scrollmagic/ScrollMagic.min.js"></script>
<script type="text/javascript" src="js/pingin/scrollmagic/plugins/animation.gsap.min.js"></script>

<script src="js/home/main.js"></script>
<script>
    $(function() {
        menuShowHide(true);
    });
</script>
<!-- @@close -->

<!-- @@block  =  header-index -->
class="active"
<!-- @@close -->

<!-- @@block = content -->
<script>
    // init controller
    var controller = new ScrollMagic.Controller();
</script>
<div id="home" class="main">
    <section id="keyvision">
        <img src="https://www.mb-agility.com/mb/content/images/slide-kv/ad-kv.jpg" class="visible-desktop" alt="">
        <div class="kv-headtxt">
            <h1>Agility <span class="font-blue">星智選</span></h1>
            <h2>創新靈活購車模式<span class="visible-desktop">，</span><br>輕鬆摘星</h2>
        </div>
    </section>

    <section id="section1" class="mbcarBG">
        <div class="main-mb visible-desktop">
            <div class="spacer s2"></div>
            <div class="s1-bg-car">
                <img src="https://www.mb-agility.com/mb/content/images/home/s1-bg-car.jpg" />
                <img class="tire-font" src="https://www.mb-agility.com/mb/content/images/home/car-tire-font.png" />
                <img class="tire-back" src="https://www.mb-agility.com/mb/content/images/home/car-tire-back.png" />
            </div>
            <div class="s1-overlay"></div>
            <div class="spacer s0"></div>
            <div id="scene-car1"></div>
            <div id="scene1">
                <div class="mycontainer">
                    <div id="txtHead" class="txtHead1">
                        <h2 class="MingLiU">先摘<span class="blue">星</span>，後<span class="blue">智選</span></h2>
                    </div>
                    <div id="Paragraph" class="Paragraph">
                        <p>為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品 —「Agility星智選」專案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是“<span>先摘星，後智選</span>”：在合約期限內，輕鬆支付月付款，即可晉級擁有賓士。合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。</p>
                    </div>
                </div>
            </div>

            <div class="spacer s2"></div>
            <div id="scene2">
                <div class="mycontainer">
                    <div id="txtHead2" class="txtHead2">
                        <h2 class="MingLiU">如何使用<span class="Daimler-Corpo-A">Agility</span> <span class="blue">星智選</span></h2>
                    </div>
                    <div id="features" class="features">
                        <ul>
                            <li id="f1">
                                <div class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-01.svg" alt=""></div>
                                <div class="features-text">
                                    <p>選擇您喜愛的車型</p>
                                </div>
                            </li>
                            <li id="f2">
                                <div class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-02.svg" alt=""></div>
                                <div class="features-text">
                                    <p>根據您的需求選擇<br>每年車輛行駛的最高里程數</p>
                                </div>
                            </li>
                            <li id="f3">
                                <div class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-03.svg" alt=""></div>
                                <div class="features-text">
                                    <p>根據您的預算決定<br>頭期款及分期期數</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="spacer s4"></div>
            <div id="scene-car2"></div>
            <div class="spacer s3"></div>

            <div id="scene3">
                <div class="mycontainer">

                    <div id="frame1" class="box-line">
                        <div id="frame1_subhead" class="boxline-subhead">01</div>
                        <div id="frame1_head" class="boxline-head">超心動 低頭款</div>
                        <div id="frame1_txt" class="boxline-txt">先選擇心愛車款，規劃試算出最低頭期款優惠，入主輕而易舉。</div>
                    </div>

                    <div id="frame2" class="box-line">
                        <div id="frame2_subhead" class="boxline-subhead">02</div>
                        <div id="frame2_head" class="boxline-head">超輕鬆 月付款</div>
                        <div id="frame2_txt" class="boxline-txt ">彈性選擇合約期數及每年行駛最高里程數。</div>
                    </div>

                    <div id="frame3" class="box-line">
                        <div id="frame3_subhead" class="boxline-subhead">03</div>
                        <div id="frame3_head" class="boxline-head ">超靈活 三自選</div>
                        <div id="frame3_txt" class="boxline-txt">合約期滿自由選擇：<br>換購新車/保留愛車/歸還原車。</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="visible-mobile">
            <div id="s1-mo-scene1" class="scene1">
                <div class="txtHead1">
                    <h2 class="MingLiU">先摘<span class="blue">星</span>，後<span class="blue">智選</span></h2>
                </div>
                <div class="Paragraph">
                    <p>為了滿足消費者追求個性與潮流生活的需求，台灣賓士資融推出全新的汽車金融產品 —「Agility星智選」專案，帶給您全新的汽車消費體驗：您無需投入一次性的資金購買車輛，而是“<span>先摘星，後智選</span>”：在合約期限內，輕鬆支付月付款，即可晉級擁有賓士。合約期滿之際，更可換購最新車款，享受前衛智能科技與駕馭樂趣。亦可選擇付清尾款或將尾款再分期，即可完全擁有愛車。</p>
                </div>
            </div>
            <img id="s1-car-01" src="https://www.mb-agility.com/mb/content/images/home/s1/s1-car1-mo.png" alt="">
            <div id="s1-mo-scene2" class="scene2">
                <div class="txtHead2">
                    <h2 class="MingLiU">如何使用<span class="Daimler-Corpo-A">Agility</span> <span class="blue">星智選</span></h2>
                </div>
                <div class="features">
                    <ul>
                        <li>
                            <div class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-01.svg" alt=""></div>
                            <div class="features-text">
                                <p>選擇您喜愛的車型</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-02.svg" alt=""></div>
                            <div class="features-text">
                                <p>根據您的需求選擇<br>每年車輛行駛的最高里程數</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s1/icon-features-03.svg" alt=""></div>
                            <div class="features-text">
                                <p>根據您的預算決定<br>頭期款及分期期數</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="s1-mo-scene3" class="scene3">
                <img src="https://www.mb-agility.com/mb/content/images/home/s1/s1-car2-mo.jpg" alt="">
            </div>
        </div>

    </section>

    <section id="section2">
        <div class="container">
            <div class="final-choose">
                <h2 class="line visible-desktop">期末<span class="blue">三智選</span></h2>
                <h2 class="visible-desktop">Agility星智選，期滿三智選方案，一切由你心自選！</h2>
                <h2 id="final-choose-title-mo" class="line visible-mobile">期末<span class="blue">三智選</span>&nbsp;&nbsp;Agility星智選<br>期滿三智選方案，一切由你心自選！</h2>
                <div id="choose-box" class="choose-box visible-desktop">
                    <div class="row">
                        <div class="col-4 left">
                            <ul class="chooseTab">
                                <li class="active">
                                    <div class="headTxt" onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_Renew_pc'}); track_indexRenew();">
                                        <h3>換購新車 Renew</h3>
                                    </div>
                                    <div class="conTxt">
                                        <p>以舊換新，未來保有優質車價無後顧之憂，永享駕馭最新賓士車款尊榮禮遇。</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="headTxt" onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_Retain_pc'}); track_indexRetain();">
                                        <h3>保留愛車 Retain</h3>
                                    </div>
                                    <div class="conTxt">
                                        <p>尾款只須結清或進行再分期，即可繼續坐擁愛車。</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="headTxt" onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_Return_pc'}); track_indexReturn();">
                                        <h3>歸還原車 Return</h3>
                                    </div>
                                    <div class="conTxt">
                                        <p>車況符合良好狀態及里程數說明表的條件下，即可歸還原車，不須支付剩餘尾款。</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-8 slide">
                            <div>
                                <div class="slide-img active"><img src="https://www.mb-agility.com/mb/content/images/home/s2/s2-slide-01.jpg" alt=""></div>
                                <div class="slide-img"><img src="https://www.mb-agility.com/mb/content/images/home/s2/s2-slide-02.jpg" alt=""></div>
                                <div class="slide-img"><img src="https://www.mb-agility.com/mb/content/images/home/s2/s2-slide-03.jpg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible-mobile">
                    <div id="final-choose1" class="item">
                        <div class="img"><img src="https://www.mb-agility.com/mb/content/images/home/s2/s2-slide-01.jpg" alt=""></div>
                        <div class="txt">
                            <div class="headTxt">
                                <h3>換購新車 Renew</h3>
                            </div>
                            <div class="conTxt">
                                <p>以舊換新，未來保有優質車價無後顧之憂，永享駕馭最新賓士車款尊榮禮遇。</p>
                            </div>
                        </div>
                    </div>
                    <div id="final-choose2" class="item">
                        <div class="img"><img src="https://www.mb-agility.com/mb/content/images/home/s2/s2-slide-02.jpg" alt=""></div>
                        <div class="txt">
                            <div class="headTxt">
                                <h3>保留愛車 Retain</h3>
                            </div>
                            <div class="conTxt">
                                <p>尾款只須結清或進行再分期，即可繼續坐擁愛車。</p>
                            </div>
                        </div>
                    </div>
                    <div id="final-choose3" class="item">
                        <div class="img"><img src="https://www.mb-agility.com/mb/content/images/home/s2/s2-slide-03.jpg" alt=""></div>
                        <div class="txt">
                            <div class="headTxt">
                                <h3>歸還原車 Return</h3>
                            </div>
                            <div class="conTxt">
                                <p>車況符合良好狀態及里程數說明表的條件下，即可歸還原車，不須支付剩餘尾款。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="section3">
        <div class="container">
            <div id="advantage" class="advantage">
                <h2 id="advantage-title" class="line">Agility<span class="blue">星智選</span> 選購車優勢</h2>
                <div class="row">
                    <div id="advantage1" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon1.svg" alt=""></li>
                            <li class="txtCont">
                                <h3>享 貼心客製服務</h3>
                                <p>完全依個人預算需求規劃，不同階段搭配不同組合，選擇更靈活。</p>
                            </li>
                        </ul>
                    </div>
                    <div id="advantage2" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon2.svg" alt=""></li>
                            <li class="txtCont">
                                <h3>享 安心保值車價</h3>
                                <p>無需一次性投入整筆資金，徹底將購車風險降到最低，未來仍享有優質車價。</p>
                            </li>
                        </ul>
                    </div>
                    <div id="advantage3" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon3.svg" alt=""></li>
                            <li class="txtCont">
                                <h3>享 隨心坐擁夢想</h3>
                                <p>低頭款、低月付，門檻輕鬆，資金運用更有彈性，夢想不再遙不可期。</p>
                            </li>
                        </ul>
                    </div>
                    <div id="advantage4" class="col-12 col-lg-6 item">
                        <ul>
                            <li class="icon"><img src="https://www.mb-agility.com/mb/content/images/home/s2/advantage-icon4.svg" alt=""></li>
                            <li class="txtCont">
                                <h3>享 一心引領潮流</h3>
                                <p>隨品牌推陳出新即可更換最新車款，並在原廠保固期限內，隨時保持最佳狀態。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section4">
        <div class="video-container">
            <div class="youtube-preview" onclick="gtag( 'event', 'click', { 'event_category': 'Index', 'event_label': 'index_youtubeVideo'}); track_indexVideo();" style="background-image: url( 'https://www.mb-agility.com/mb/content/images/home/maxresdefault.jpg')">
                <div class="youtube-preview__button">
                    <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path class="youtube-preview__button__bg" d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77
                            2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65
                            .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z"
              fill="#1f1f1e" fill-opacity="0.81" />
            <path d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff" />
            <path d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc" /></svg>
                </div>
                <div id="youtube-video"></div>
            </div>
        </div>
        <div></div>
    </section>
</div>

<script>
</script>
<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>

<!-- @@close-->

<!-- @@block  =  footer -->
<footer class="bgft01 black mbfs-shadow">
    <!-- @@include ../layouts/_footer.html -->
</footer>


<script>
    function gtag_event() {
        var flag_1 = false;
        var flag_2 = false;
        var flag_3 = false;
        var flag_4 = false;
        var flag_5 = false;
        var flag_6 = false;
        var flag_7 = false;

        var scene1_T = $('#scene1').offset().top;
        var scene2_T = $('#scene2').offset().top;
        var scene3_T = $('#scene3').offset().top;
        var scene1mo_T = $('#s1-mo-scene1').offset().top;
        var scene2mo_T = $('#s1-mo-scene2').offset().top;
        var scene3mo_T = $('#s1-mo-scene3').offset().top;

        var section2_T = $('#section2').offset().top;
        var section3_T = $('#section3').offset().top;
        var section4_T = $('#section4').offset().top;
        var footer_T = $('footer').offset().top;

        jQuery(window).scroll(function() {

            if ($(window).width() > 992) {
                if (jQuery(this).scrollTop() > scene1_T && !flag_1) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-1'
                    });
                    flag_1 = true;
                } else if (jQuery(this).scrollTop() > scene2_T && !flag_2) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-2'
                    });
                    flag_2 = true;
                } else if (jQuery(this).scrollTop() > scene3_T && !flag_3) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-3'
                    });
                    flag_3 = true;
                } else if (jQuery(this).scrollTop() > section2_T && !flag_4) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-4'
                    });
                    flag_4 = true;
                } else if (jQuery(this).scrollTop() > section3_T && !flag_5) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-5'
                    });
                    flag_5 = true;
                } else if (jQuery(this).scrollTop() > section4_T && !flag_6) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-video'
                    });
                    flag_6 = true;
                } else if (jQuery(this).scrollTop() > footer_T && !flag_7) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_footer'
                    });
                    flag_7 = true;
                }
            } else {
                if (jQuery(this).scrollTop() > scene1mo_T && !flag_1) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-1'
                    });
                    flag_1 = true;
                } else if (jQuery(this).scrollTop() > scene2mo_T && !flag_2) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-2'
                    });
                    flag_2 = true;
                } else if (jQuery(this).scrollTop() > scene3mo_T && !flag_3) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-3'
                    });
                    flag_3 = true;
                } else if (jQuery(this).scrollTop() > section2_T && !flag_4) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-4'
                    });
                    flag_4 = true;
                } else if (jQuery(this).scrollTop() > section3_T && !flag_5) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-5'
                    });
                    flag_5 = true;
                } else if (jQuery(this).scrollTop() > section4_T && !flag_6) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_about-video'
                    });
                    flag_6 = true;
                } else if (jQuery(this).scrollTop() > footer_T && !flag_7) {
                    gtag('event', 'scroll', {
                        'event_category': 'index',
                        'event_label': 'scrollTo_footer'
                    });
                    flag_7 = true;
                }
            }

        });
    }

    jQuery(document).ready(function() {
        gtag_event();
    });
</script>
<!-- Lightning Bolt Begins -->
<script type="text/javascript" id="lightning_bolt" src="//cdn-akamai.mookie1.com/LB/LightningBolt.js"></script>
<script type="text/javascript">
    function track_headMenuOffer() {
        lbReload('Click_head_MenuOffer', '', '', '');
    }

    function track_headMenu1() {
        lbReload('Click_head_Menu_1', '', '', '');
    }

    function track_headMenu2() {
        lbReload('Click_head_Menu_2', '', '', '');
    }

    function track_headMenu3() {
        lbReload('Click_head_Menu_3', '', '', '');
    }

    function track_gobackAgility() {
        lbReload('Click_head_back_Index', '', '', '');
    }

    function track_indexRenew() {
        lbReload('Click_index_Renew', '', '', '');
    }

    function track_indexRetain() {
        lbReload('Click_index_Retain', '', '', '');
    }

    function track_indexReturn() {
        lbReload('Click_index_Return', '', '', '');
    }

    function track_indexVideo() {
        lbReload('Click_index_youtubeVideo', '', '', '');
    }

    $(".back_agilityIndex").mousedown(function() {
        track_gobackAgility();
    });
</script>
<!-- Lightning Bolt Ends -->
<!-- @@close -->