<header>
    <div class="container-fluid">
        <div id="hd-hamburger" class="hd-hamburger">
            <span class="hd-icon-bar">
                <span class="hd-hamburger-line"></span>
            <span class="hd-hamburger-line"></span>
            <span class="hd-hamburger-line"></span>
            </span>
        </div>
        <div class="row">
            <div class="col-8 col-lg-4">
                <a href="https://www.mb-agility.com/mb/" class="logo">
                    <img src="images/logo-mbfs.svg" alt="">
                </a>
            </div>
            <div class="col-4 col-lg-8">
                <div class="fixed-bar visible-desktop">
                    <a href="https://www.mb-agility.com/" clsss="back_agilityIndex" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_back_Index'});">
                        <span class="icon-home">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                id="Capa_1" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;"
                                xml:space="preserve">
                                <g id="home">
                                    <polygon class="home-fill" points="204,471.75 204,318.75 306,318.75 306,471.75 433.5,471.75 433.5,267.75 510,267.75 255,38.25 0,267.75     76.5,267.75 76.5,471.75" />
                                </g>
                            </svg>
                        </span><span class="linkl-txt">回 Agility星自選 | 台灣賓士資融</span></a>
                </div>
                <ul class="hd-nav-menu visible-desktop">
                    <li class="hd-nav-item"><a href="https://www.mercedes-benz.com.tw/content/taiwan/mpc/mpc_taiwan_website/twng/home_mpc/passengercars/home/financialservices/campaigns.html" target="_blank" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'MenuOffer'}); track_headMenuOffer();">本月優惠專案</a></li>
                    <li class="hd-nav-item active"><a href="https://www.mb-agility.com/mb/" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_1'}); track_headMenu1();">Agility
                            星自選</a></li>
                    <li class="hd-nav-item"><a href="https://www.mb-agility.com/mb/calculate" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_2'});  track_headMenu2();">購車試算</a></li>
                    <li class="hd-nav-item"><a href="https://www.mb-agility.com/mb/contact" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_3'});  track_headMenu3();">聯絡我們</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay hd-nav-menu visible-mobile" id="overlay">
        <nav class="overlay-menu">
            <ul>
                <li class="hd-nav-item"><a href="https://www.mercedes-benz.com.tw/content/taiwan/mpc/mpc_taiwan_website/twng/home_mpc/passengercars/home/financialservices/campaigns.html" target="_blank" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'MenuOffer'}); track_headMenuOffer();">本月優惠專案</a></li>
                <li class=" hd-nav-itemactive"><a href="https://www.mb-agility.com/mb/" onclick=" gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_1'}); track_headMenu1();">Agility
                        星自選</a></li>
                <li class="hd-nav-item"><a href="https://www.mb-agility.com/mb/calculate" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_2'});  track_headMenu2();">購車試算</a></li>
                <li class="hd-nav-item"><a href="https://www.mb-agility.com/mb/contact" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_3'});  track_headMenu3();">聯絡我們</a></li>
            </ul>
        </nav>
        <div class="fixed-bar visible-mobile">
            <a href="https://www.mb-agility.com/" class="back_agilityIndex" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'Menu_back_Index'});">
                <span class="icon-home">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                        x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;"
                        xml:space="preserve">
                        <g id="home">
                            <polygon class="home-fill" points="204,471.75 204,318.75 306,318.75 306,471.75 433.5,471.75 433.5,267.75 510,267.75 255,38.25 0,267.75     76.5,267.75 76.5,471.75" />
                        </g>
                    </svg>
                </span><span class="linkl-txt">回 Agility星自選 | 台灣賓士資融</span></a>
        </div>
    </div>
</header>