<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0, user-scalable=no" />
    <!-- @@placeholder= title -->
    <meta name="og:type" content="website">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="geo.region" content="tw" />
    <meta name="rating" content="general" />

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#000000">

    <link rel="shortcut icon" href="images/favorite.ico" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- @@placeholder= head-css -->
    <script type="text/javascript" src="js/pingin/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/pingin/jquery.mousewheel-3.1.13.min.js"></script>
    <script type="text/javascript" src="js/pingin/jquery-ui-1.12.1.min.js"></script>
    <!-- @@placeholder= head-js -->
    <script type="text/javascript" src="js/pingin/jquery.superscrollorama.js"></script>
    <script src="js/common.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105601364-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-105601364-2');
    </script>

</head>

<body>
    <div id="loading">
        <div class="loading-bar">
            <div class="progress"></div>
        </div>
    </div>

    <!-- @@include ./_header.html -->

    <!-- @@placeholder= content -->

    <div id="scrollTop">
        <svg version="1.1" id="scrolltop-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30.5 14.6" style="enable-background:new 0 0 30.5 14.6;" xml:space="preserve">
            <path class="st0" d="M15.3,0L0,14.6h4.5L15.9,3.6h0.2l10,10.9h4.5L16.9,0H15.3z" />
        </svg>
    </div>

    <!-- @@placeholder= footer -->
</body>

</html>